:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

section.block {
  margin-left: 6px;
  flex: 0 0 auto;

  &.block--models {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }
}
